.content {
  padding: 8px;
  background-color: #343a40;
  color: white;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 66%) 0px 3px 8px;
  width: 97%;
  margin: auto;
  max-width: 800px;
}
b {
  color: #ffc107;
}
.add-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.empty {
  border-top: 21px solid #dc3545;
}
div.true {
  border-top: 21px solid #00954f;
}
div.false {
  border-top: 21px solid #1064df;
}
.add-to-learn i {
  color: #1063df8f;
}
button.add-to-learned,
button.forget,
button.add-to-learn {
  background-color: #343a40;
  text-align: center;
  color: #f8f9fa;
  font-size: 0.8rem;
  padding: 6px 16px;
  border: 1px solid #49505796;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.add-to-learned i {
  color: #05b8388f;
}
button.forget i {
  color: #dc3546b0;
}
button.delete {
  background: none;
  border: 0px;
  border-radius: 6px;
  padding: 3px 8px;
}
button.delete i {
  font-size: 1.3rem;
  color: #db1f32;
}

button.add-to-learned:hover {
  border: 1px solid #05b8388f;
}
button.forget:hover {
  border: 1px solid #dc3546b0;
}
button.add-to-learn:hover {
  border: 1px solid #1063df8f;
}
button.delete:hover {
  border: 1px solid #db1f32;
}
