.yellow {
  color: #ebeb63;
}

.green {
  color: #2bd92b;
}

.blue {
  color: #3b68ee;
}

.red {
  color: #ef5d5d;
}

.purple {
  color: #d385fb;
}

.orange {
  color: #ff6f00;
}

.brown {
  color: #efb48a;
}

.gray {
  color: #8a8989;
}
